.jumbo-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 100%;
    margin-top: 35px;
    /* border: 1px solid whitesmoke; */
    box-shadow: 1px 1px 1px 1px;
    background-image: url("/public/images/boat-detailing-stock-1.jpg");
    background-size: cover;
}


.about {
    display: flex;
    /* margin: auto; */
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    text-align: center;
    border: 1px solid black;
    height: 350px;
    width: 1000px;
}

.home-div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 600px) {
    .jumbo-header {
        height: 200px;
        width: 350px;
        text-align: center;
    }
}