* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nav {
    background-color: white;
    color: black;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem; 
    padding: 0 1rem;
    margin-top: 10px
}

#site-title {
    font-size: 2rem;
    font-weight: bold;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0.2rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: auto;
}

#nav-pages a.active {
    text-decoration: underline;
}

.nav li:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

@media (max-width: 768px) {
    .nav ul {
        display: none;
    }

    .nav button {
        display: flex;
        float: right;
    }
}

@media (min-width: 768px) {
    .nav button {
        display: none;
    }

    
}